body {
  display: flex;
}

/* SIDEBAR SECTION STYLE */
.sidebar {
  display: block;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  max-width: 18.625rem;
  overflow-y: auto;
  z-index: 990;
  transition: all 0.2s ease-in;
  background: white;
}

.horizontal {
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.699),
    transparent
  );
  background-color: transparent;
  border: 0;
  opacity: 0.55;
  height: 2px;
}

.sidebar-logo {
  font-size: 2rem;
  padding: 1rem 2rem;
}

.brand-title {
  font-weight: 700;
}

.icon-menu {
  cursor: pointer;
}

.navbar-collapse {
  display: block;
  height: 83%;
}

.navbar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

.nav-item {
  margin-top: 0.125rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: #fff;
}

.nav-item.active {
  color: white;
  background-color: #3a3a3c;
  font-weight: 600;
}

.nav-item.active svg {
  fill: white;
}

.nav-link {
  display: flex;
  align-items: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.nav-link svg,
.hambuger-menu svg {
  width: 2rem;
  margin: 0 0.5rem;
}

.hambuger-menu {
  display: none;
  cursor: pointer;
  margin-right: 0.3rem;
}

.section-title {
  margin-right: auto;
}

.nav-link-text {
  font-weight: 400;
}

#logout {
  margin-top: auto;
}

/* UTIL STYLE */
.hide {
  display: none;
}

main {
  width: 100%;
  height: 100vh;
}

.navbar-top {
  padding: 2rem 2rem 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile {
  background-color: #7d3219;
  color: white;
  padding: 0.5rem 0.675rem;
  border-radius: 50%;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  width: 10rem;
  min-height: 15rem;
  padding: 1rem 0.5rem;
  background-color: #fff;
  border: 0 solid transparent;
  box-shadow: 0 8px 26px -4px hsla(0, 0%, 8%, 0.15),
    0 8px 9px -5px hsla(0, 0%, 8%, 0.06);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  right: 0;
  z-index: 1000;
}

.show {
  transition: visibility 0.25s, opacity 0.25s, transform 0.25s;
  transform: perspective(999px) rotateX(0deg) translateZ(0)
    translate3d(0, 37px, 0) !important;
  visibility: visible !important;
  opacity: 1 !important;
}

@media only screen and (max-width: 900px) {
  .hambuger-menu {
    display: flex;
  }

  .sidebar {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }

  .navbar-top {
    padding: 0.7rem;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1px);
  }
}

.slide-left {
  visibility: visible !important;
  opacity: 1 !important;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
