/* SIDEBAR SECTION STYLE */
.sidebar {
  display: block;
  position: absolute;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  max-width: 15.625rem;
  overflow-y: auto;
  z-index: 990;
  transition: all 0.2s ease-in-out;
}

.horizontal {
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.699),
    transparent
  );
  background-color: transparent;
  border: 0;
  opacity: 0.55;
  height: 2px;
}

.sidebar-logo {
  font-size: 2rem;
  padding: 1.5rem 2rem;
}

.brand-title {
  font-weight: 700;
}

.icon-menu {
  cursor: pointer;
}

.navbar-collapse {
  display: block;
  height: 83%;
}

.navbar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  list-style: none;
}

.nav-item {
  margin-top: 0.125rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: #fff;
  cursor: pointer;
}

.nav-item.active {
  color: white;
  background-color: #3a3a3c;
  font-weight: 600;
}

.nav-item.active svg {
  fill: white;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link svg {
  width: 2rem;
  margin: 0 0.5rem;
}

.nav-link-text {
  font-weight: 400;
}

#logout {
  margin-top: auto;
}

/* UTIL STYLE */
.hide {
  display: none;
}
