body {
  display: flex;
}

/* SIDEBAR SECTION STYLE */
.sidebar {
  box-shadow: var(--bs-box-shadow);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  max-width: 18.625rem;
  overflow-y: hidden;
  z-index: 990;
  transition: all 0.2s ease-in;
  background: var(--bs-white);
}

.horizontal {
  background-image: linear-gradient(
    90deg,
    var(--bs-transparent),
    rgba(0, 0, 0, 0.699),
    var(--bs-transparent)
  );
  background-color: var(--bs-transparent);
  border: 0;
  opacity: 0.55;
  height: 2px;
}

.sidebar-logo {
  font-size: 2rem;
  padding: 1rem 2rem;
}

.brand-title {
  font-weight: 700;
}

.icon-menu {
  cursor: pointer;
}

.navbar-collapse {
  display: block;
  height: 83%;
}

.navbar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

.nav-item {
  margin-top: 0.125rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: var(--bs-white);
}

.nav-item.active {
  color: var(--bs-white);
  background-color: var(--bs-gray-dark);
  font-weight: 600;
}

.nav-item.active:hover {
  background-color: var(--bs-gray-dark);
}

.nav-item.active svg {
  fill: var(--bs-white);
}

.nav-link {
  display: flex;
  align-items: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.nav-link svg,
.hambuger-menu svg {
  width: 2rem;
  margin: 0 0.5rem;
}

.hambuger-menu {
  display: none;
  cursor: pointer;
  margin-right: 0.3rem;
}

.section-title {
  margin-right: auto;
}

.nav-link-text {
  font-weight: 400;
}

#logout {
  margin-top: auto;
}

/* UTIL STYLE */
.hide {
  display: none;
}

/* MAIN SECION */
main {
  width: 100%;
  height: 100vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

/* NAVBAR STYLE */
.navbar-top {
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile,
.chat-initial {
  background-color: var(--bs-primary);
  color: var(--bs-white);
  padding: 0.5rem 0.675rem;
  border-radius: 50%;
  height: 1.62rem;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  width: 10rem;
  min-height: 15rem;
  padding: 1rem 0.5rem;
  background-color: var(--bs-white);
  border: 0 solid var(--bs-transparent);
  box-shadow: var(--bs-box-shadow);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  right: 0;
  z-index: 1000;
}

.show {
  transition: visibility 0.25s, opacity 0.25s, transform 0.25s;
  transform: perspective(999px) rotateX(0deg) translateZ(0)
    translate3d(0, 37px, 0) !important;
  visibility: visible !important;
  opacity: 1 !important;
}

/* CHAT SECTION STYLE */
.chat-section {
  padding: 1rem 2rem;
  flex-grow: 1;
  overflow-y: scroll;
}

.chat-section::-webkit-scrollbar {
  width: 0.4rem;
}

.chat-section::-webkit-scrollbar-thumb {
  background-color: var(--bs-gray);
  border-radius: 4px;
}

.chat-section::-webkit-scrollbar-track {
  background-color: var(--bs-light);
}

.chat-content {
  padding: 0.2rem;
  cursor: pointer;
  display: flex;
  margin: 0.7rem 0;
}

.chat-content:hover,
.nav-item:hover {
  background-color: var(--bs-light);
}

.chat-info {
  display: flex;
}

.chat-detail {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-detail span {
  font-size: small;
}

.chat-name {
  font-weight: 700;
}

.chat-status {
  position: absolute;
  background-color: var(--bs-gray);
  padding: 0.4rem;
  border-radius: 50%;
  bottom: 0;
  left: 0;
}

.active-status {
  background-color: var(--bs-success) !important;
}

.chat-time {
  display: flex;
}

.chat-latest-msg span,
.chat-time span {
  align-self: flex-end;
  font-size: small;
}

.chat-time {
  margin-left: auto;
}

.chat-initial {
  background: var(--bs-blue) !important;
  position: relative;
  align-self: center;
}

/* RESPONSIVE STYLE */
@media only screen and (max-width: 900px) {
  .hambuger-menu {
    display: flex;
  }

  .sidebar {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }

  .navbar-top {
    padding: 0.7rem;
  }

  .chat-section {
    padding: 1rem 0;
  }

  .chat-content {
    padding: 0.3rem 1rem;
  }
}

.slide-left {
  visibility: visible !important;
  left: 0;
  opacity: 1 !important;
}
