* {
  font-family: "Autour One", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --bs-blue: #63b3ed;
  --bs-indigo: #596cff;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #f56565;
  --bs-orange: #fd7e14;
  --bs-yellow: #fbd38d;
  --bs-green: #81e6d9;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-body-color: #67748e;
  --bs-primary: #cb0c9f;
  --bs-secondary: #8392ab;
  --bs-success: #82d616;
  --bs-info: #17c1e8;
  --bs-warning: #fbcf33;
  --bs-danger: #ea0606;
  --bs-light: #e9ecef;
  --bs-dark: #344767;
  --bs-white: #fff;
  --bs-black: #000;
  --bs-transparent: transparent;
  --bs-primary: #7d3219;
  --bs-box-shadow: 0 8px 26px -4px hsla(0, 0%, 8%, 0.15),
    0 8px 9px -5px hsla(0, 0%, 8%, 0.267);
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  color: var(--bs-success);
  font-size: x-small;
}

.warning {
  color: var(--bs-warning);
}

.danger {
  color: var(--bs-danger);
  font-size: x-small;
}

.info {
  color: var(--bs-dark);
  font-size: xx-small;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

li {
  list-style: none;
  cursor: pointer;
}
