main {
  overflow-y: hidden;
  display: flex;
  background: var(--) smoke;
  height: 100vh;
  height: 100svh;
}

img {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: -5rem;
  filter: brightness(50%);
}

.section-title {
  font-size: clamp(4rem, 50%, 5rem);
  text-align: center;
}

section {
  position: relative;
}

.chat-info {
  flex: 0 1 40%;
  position: relative;
  background: #dde5f4;
  padding-top: 5rem;
}

.chat-form {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}

form {
  padding: clamp(2em, 3em, 4em);
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: var(--bs-box-shadow);
  background-color: #e6e9f9;
  gap: 2em;
  margin: auto;
}

label {
  font-weight: 600;
  color: var(--bs-black);
}

.form-title {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
}

.form-title h3 {
  font-size: 2rem;
  color: var(--bs-black) !important;
  font-weight: 400;
}

.form-title svg {
  font-size: 1rem;
  color: var(--bs-black) !important;
  margin-top: -0.3rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: var(--bs-gray-dark);
}

.form-group-item {
  padding: 0.6em 1em;
  background: var(--bs-white);
  border: 1px solid var(--bs-gray-dark);
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  outline: none;
  border: none;
  padding: 0 0.5em;
}

input::-moz-placeholder {
  color: var(--bs-black);
  font-size: 1em;
}

input:-ms-input-placeholder {
  color: var(--bs-black);
  font-size: 0.9em;
}
input::placeholder {
  color: var(--bs-black);
  font-size: 0.9em;
}

svg {
  color: var(--bs-gray-dark);
}

button {
  cursor: pointer;
  padding: 1em;
  background: var(--bs-primary);
  color: var(--bs-white);
  border: none;
  border-radius: 2rem;
  font-weight: 600;
}
footer {
  display: flex;
  font-size: 0.7em;
  justify-content: space-between;
  font-size: 0.7em;
  color: var(--bs-black);
}

.footer-item {
  display: flex;
}

footer span {
  cursor: pointer;
}

footer span:hover {
  color: var(--bs-dark);
}

.inspired {
  position: absolute;
  right: 0.3rem;
  bottom: 0;
  font-size: xx-small;
  color: var(--bs-black);
  font-weight: 700;
}

.hide {
  display: none !important;
}

.show-password,
.hide-password {
  cursor: pointer;
}

.incomplete {
  animation: incomplete 0.1s ease-in-out 3;
}

@keyframes incomplete {
  0% {
    border: 1px solid var(--bs-danger);
    transform: translatex(-1rem);
  }
  50% {
    transform: translatex(1rem);
  }
  100% {
    transform: translatex(-1rem);
  }
}

/* Mobile VIEW */
@media only screen and (max-width: 768px) {
  .chat-info {
    display: none;
  }
  .chat-form {
    margin: auto;
    height: 100%;
  }

  form {
    padding: 2rem;
    width: 70%;
  }

  main {
    overflow-y: hidden;
  }
}

/* Tablet-specific styles */
/* @media (min-width: 769px) and (max-width: 1024px) {
} */

/* Landscape-specific styles for mobile */
/* @media (max-width: 768px) and (orientation: landscape) {
} */

/* Target tablets in landscape orientation */
/* @media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
} */
